.tabBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabBtn button {
  padding: 8px;
  width: 40%;
  background-color: #e4b302;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}

.unactive {
  background-color: #ddd;
}

.attributeContainer {
  margin: 2vh auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #ddd;
  padding: 10px;
}

.addAttribute {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.addAttribute input {
  width: 90%;
  border: none;
  background-color: inherit;
}

.addAttribute input:focus {
  outline: none;
  color: #e4b302;
}

.addAttribute button {
  border: none;
  background-color: transparent;
}

.tabBtn button:hover {
  background-color: #ddd;
}

.addAttribute i {
  cursor: pointer;
}

.addAttribute i:hover {
  color: #e4b302;
}
