
.userAdressSection {
  height: 75vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5vh;
}

.productNameType {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 1rem 0;
}

.userContainer {
  background-color: white;
  border-radius: 5px;
}

.adressContainer {
  width: 100%;
  height: 40vh;
}

.productSection {
  display: flex;
  flex-direction: column;
}

.productSection img {
  width: 100%;
  height: 20vh;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 700px) {
  .productContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5vw;
  }
}
