.navigationContainer {
  display: grid;
  padding: 5vh 5vh;
  grid-template-columns: 1fr 6fr;
  gap: 5px;
  height: 100vh;
  background-color: #DDDDDD;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.nav a{
  text-decoration: none;
  color: #272E71;
  font-weight: 600;
}
