
.navigationContainer {
  padding: 5vh 5vh;
  display: grid;
  grid-template-rows: auto;
  min-height: 100vh;
  background-color: #ddd;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav a {
  margin-top: 2vh;
  padding-left: 10px;
  text-decoration: none;
  color: #323b49;
  font-weight: 600;
}

.nav a:hover {
  color: #e4b302;
}

.nav a:active {
  border-left: 3px solid #323b49;
  color: #272e71;
}

@media (min-width: 700px) {
  .navigationContainer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 2vw;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
  }
}
